html,body{
	margin:0;
	padding:0;
	height:3000px;
}
#background,
#foreground {
	-webkit-filter: blur(0px);
	filter: blur(0px);
}

#scrollmagic-container {
	position:fixed;
	top:0;
	left:0;
	transform:scale(1.0);
}

.scrollmagic-image{
	position:absolute;
	top:0;
	left:0;
	width:100vw;
	transform:scale(1.0);
	-webkit-filter: blur(0px);
	filter: blur(0px);
}
#scrollmagic-container .scrollmagic-image.scene1{
	transform:scale(1.5);
}
#scrollmagic-container .scrollmagic-image.scene2{
	transform:scale(1.75) translateX(100px) translateY(50px);
}

#scrollmagic-container #finn.scene1{
	-webkit-filter: blur(1px);
	filter: blur(1px);
}
#scrollmagic-container #rey.scene2,
#scrollmagic-container #background.scene1 {
	-webkit-filter: blur(3px);
	filter: blur(3px);
}
#scrollmagic-container #foreground.scene1 {
	-webkit-filter: blur(5px);
	filter: blur(5px);
}
#scrollmagic-container #finn.scene2 {
	-webkit-filter: blur(0px);
	filter: blur(0px);
}

#trigger1 { position:absolute; min-height:1px; top: 700px; }
#trigger2 { position:absolute; min-height:1px; top: 1400px; }
#trigger3 { position:absolute; min-height:1px; top: 1700px; }
#trigger4 { position:absolute; min-height:1px; top: 1700px; }